*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  color: hsl(209, 61%, 16%);
  background: #4b145b;
}
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90vw;
  background: #fff;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 0.25rem;
  max-width: 1170px;
  display: grid;
  gap: 1rem 2rem;
}
.container h2 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto;
  letter-spacing: 0.2rem;
}
.question {
  margin-bottom: 1rem;
  border: 2px solid #eae6eb;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
  margin-bottom: 0;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  background: #eae6eb;
  color: #b4345c;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
